<header id="header">
    <!-- Navegation bar -->
    <nav id="nav">
        <div class="nav-bar container">
            <div id="logo">LOGO</div>
            <div class="mob-nav-toggle"></div>
            <ul id="nav-ul">
                <li><a routerLink="">HOME</a></li>
                <li id="work-li"> Works
                    <div class="work">
                        <ul id="works-ul"></ul>
                    </div>
                </li>
                <li><a routerLink="works">LOOK UP</a></li>
                <li><a routerLink="about">ABOUT</a></li>
            </ul>
        </div>
    </nav>
</header>
